allow hal_camera_default vndservicemanager:binder { call };
allow hal_camera_default vndbinder_device:chr_file { ioctl };
allow hal_camera_default init:unix_dgram_socket { sendto };
allow hal_camera_default camera_data_file:sock_file { write };
allow hal_camera_default socket_device:unix_stream_socket { write };
allow hal_camera_default init:unix_stream_socket { connectto};
allow init video_device:chr_file { write };
allow init vendor_file:file { execute_no_trans };
allow hal_camera_default device:chr_file { read write };
allow hal_camera_default device:chr_file { open };
allow hal_camera_default device:chr_file { ioctl };
allow init hal_camera_default:fd { use };
allow cameraserver vendor_file:file { execute };
