allow hal_graphics_composer_default surfaceflinger_service:service_manager { add };
allow hal_graphics_composer_default surfaceflinger_service:service_manager { find };