[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MkfsSion (MkfsSion)
[access "refs/for/refs/*"]
	read = group user/MkfsSion (MkfsSion)
	push = group user/MkfsSion (MkfsSion)
	label-Code-Review = -2..+2 group user/MkfsSion (MkfsSion)
	label-Verified = -1..+1 group user/MkfsSion (MkfsSion)
	rebase = group user/MkfsSion (MkfsSion)
	removeReviewer = group user/MkfsSion (MkfsSion)
	submit = group user/MkfsSion (MkfsSion)
[access "refs/heads/*"]
	read = group user/MkfsSion (MkfsSion)
	create = group user/MkfsSion (MkfsSion)
	push = +force group user/MkfsSion (MkfsSion)
	pushMerge = group user/MkfsSion (MkfsSion)
[access "refs/tags/*"]
	push = group user/MkfsSion (MkfsSion)
	push = +force group user/MkfsSion (MkfsSion)
[submit]
	action = rebase if necessary
