[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MkfsSion
[access "refs/for/refs/*"]
	read = group user/MkfsSion
	push = group user/MkfsSion
	label-Code-Review = -2..+2 group user/MkfsSion
	label-Verified = -1..+1 group user/MkfsSion
	rebase = group user/MkfsSion
	removeReviewer = group user/MkfsSion
	submit = group user/MkfsSion
[access "refs/heads/*"]
	read = group user/MkfsSion
	create = group user/MkfsSion
	push = +force group user/MkfsSion
	pushMerge = group user/MkfsSion
[access "refs/tags/*"]
	push = group user/MkfsSion
	push = +force group user/MkfsSion
[submit]
	action = rebase if necessary
